<!DOCTYPE html>
<html lang="en" data-theme="pastel">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Ipad System for MD12</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.51.3/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert"></script>
    <style>
      /* customize for alert package*/
      .swal-modal {
        background-color: #333333;
      }

      .swal-title {
        color: #fff;
      }

      .swal-text {
        color: #fff;
      }

      .swal-icon--success:after,
      .swal-icon--success:before,
      .swal-icon--success__hide-corners {
        background-color: #333333;
      }
    </style>
  </head>
  <body class="flex items-center flex-col py-10">
    <h1 class="text-2xl mb-10">iPad Register System</h1>
    <div class="form-control mb-5">
      <label class="label">
        <span class="label-text">學號 School Number</span>
      </label>
      <label class="input-group">
        <span>學號</span>
        <input
          type="text"
          placeholder="Ex. 11S888"
          class="input input-bordered"
          id="schoolNumber"
        />
      </label>
    </div>
    <div class="form-control mb-5">
      <label class="label">
        <span class="label-text">iPad 編號 iPad No.</span>
      </label>
      <label class="input-group">
        <span>No.</span>
        <input
          type="text"
          placeholder="Ex. A06"
          class="input input-bordered"
          id="ipadNumber"
        />
      </label>
    </div>
    <div class="form-control mb-5">
      <label class="label">
        <span class="label-text">安全驗證金鑰 Verification Key</span>
      </label>
      <label class="input-group">
        <span>Key</span>
        <input
          type="text"
          placeholder="Ex. aaaaaa"
          class="input input-bordered"
          id="vfkey"
        />
      </label>
    </div>
    <button
      onclick="register()"
      class="btn btn-wide btn-success btn-outline mt-10"
      id="registerBtn"
    >
      Register 登記
    </button>
  </body>

  <script>
    function register() {
      const schoolNumber = document
        .getElementById("schoolNumber")
        .value.replaceAll(" ", "");
      const ipadNumber = document
        .getElementById("ipadNumber")
        .value.replaceAll(" ", "");
      const key = document.getElementById("vfkey").value.replaceAll(" ", "");
      const button = document.getElementById("registerBtn");
      if (!schoolNumber || !ipadNumber || !key) {
        return swal("填寫資料錯誤", "請完整填寫表格", "error");
      }

      console.log("registering...");
      console.log("Data Below", schoolNumber, ipadNumber, key);
      button.innerText = "Loading...";
      button.disabled = "true";
      axios({
        method: "post",
        url: "/register",
        data: {
          schoolNumber,
          ipadNumber,
          key,
        },
      })
        .then((res) => {
          console.log(res);
          const data = res.data;
          if (data.status == "succeed") {
            swal("成功登記", "You just registered successfull!", "success");
          } else if (data.status == "wrongKey") {
            swal("金鑰錯誤", "請確認是否使用正確金鑰", "error");
          } else {
            swal("出了點小問題", "In fact, I don't know wtf happened!");
          }
          button.removeAttribute("disabled");
          button.innerText = "Register 登記";
        })
        .catch((err) => {
          console.log(err);
          button.removeAttribute("disabled");
          button.innerText = "Register 登記";
        });
    }
  </script>
</html>
